.aboutme {
    width: 100%;
    color: #EEEEEE;
    text-align: left;
}

.text-about {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    text-align: justify;
    margin-top: 2rem;
}

.container_interest {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.iconInterest {
    /* width: 20%; */
    font-size: 2rem;
    padding: 2rem;

}

.inte {
    width: 80%;
}

.box-information {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10px;
    color: #FFFFFF8C;
    text-align: initial;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.information-aboutme {
    line-height: 3rem;
}