.container-information .content .inside-content .linea_horizontal {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.container-information .content .inside-content .box-github {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.container-information .content .inside-content .box-github .container_grafico {
    width: 100%;
}

.container-information .content .inside-content .box-github .container_grafico img {
    width: 100%;
}

.container-information .content .inside-content .box-github .lematitleMain {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
}

.container-information .content .inside-content .box-github .lematitleMain .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .box-lema .lema-title .lematitleMain {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
    margin-top: 30px;
}

.container-information .content .inside-content .box-lema .lema-title .lematitleMain .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .box-lema .lema-title {
    width: 100%;
}

.container-information .content .inside-content .box-lema .lema-title h3 {
    width: 90%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #EEEEEE;
    margin: 0 auto;
    font-weight: 100;
}

.container-information .content .inside-content .box-lema .lema-title .fa-quote-left {
    font-size: 1.3rem;
    margin-right: 10px;
    margin-bottom: 30px;
}

.container-information .content .inside-content .box-lema .lema-title .fa-quote-right {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-top: 20px;
}

.container-information .content .inside-content .box-lema .lema-title img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 10px;
}

.container-information .content .inside-content .box-lema .lema-title .name-me, .ocupation {
    color: var(--color-primary);
    font-weight: 100;
}

.container-information .content .inside-content .followers .follower-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
    margin-top: 30px;
}

.container-information .content .inside-content .followers .follower-title .followerstitleMain {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .followers .follower-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 120px));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 20px;
    grid-auto-flow: dense;
    align-items: center;
}

.container-information .content .inside-content .followers .followers1, .followers2, .followers3, .followers4 {
    /*border: 1px solid white;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.container-information .content .inside-content .followers .followers1 img {
    width: 70%;
    border-radius: 50%;
}

.container-information .content .inside-content .followers .followers1 h3 {
    font-weight: 100;
}

.container-information .content .inside-content .followers .followers2 img {
    width: 70%;
    border-radius: 50%;
}

.container-information .content .inside-content .followers .followers2 h3 {
    font-weight: 100;
}

.container-information .content .inside-content .followers .followers3 img {
    width: 70%;
    border-radius: 50%;
}

.container-information .content .inside-content .followers .followers3 h3 {
    font-weight: 100;
}

.container-information .content .inside-content .followers .followers4 img {
    width: 70%;
    border-radius: 50%;
}

.container-information .content .inside-content .followers .followers4 h3 {
    font-weight: 100;
}

.inside-content .about-title {
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-content .about-title .aboutme {
    width: 100%;
    font-size: 2rem;
    color: #EEEEEE;
    text-align: left;
}

.inside-content .about-title .aboutme .colorletter {
    color: rgb(206, 150, 31);
}

.inside-content .text-about {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #EEEEEE;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 20px;
}

.inside-content .text-about .diego, .gutierrez {
    color: var(--color-primary);
    font-size: 1.9rem;
}

.inside-content .text-about .valor {
    color: var(--color-primary);
}

.inside-content .text-about .pregunta {
    color: var(--color-primary);
}

.inside-content .text-about .text-pregunta {
    width: 100%;
    font-size: 2rem;
    color: rgb(238, 238, 238);
    text-align: left;
}

.inside-content .box-information {
    width: 90%;
    height: auto;
    display: flex;
    padding-top: 10px;
    font-size: 1.4rem;
    color: #FFFFFF8C;
    text-align: initial;
    margin-top: 30px;
}

.inside-content .box-information .information-aboutme-left {
    width: 50%;
}

.inside-content .box-information .information-aboutme-right {
    width: 50%;
}

.box-information .color-inf {
    color: #FFFFFFD9;
}

.inside-content .box-lema {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}