.contenedorGame {
    padding: 0px;
    margin: auto;
    width: 80%;
    height: 80%;
	/* position: absolute; */
	top: 300px;
	left: 0;
	
    background-color: #ffb;
    /* border: 8px dashed #993; */
}

#player {
	background-color: #900;
	border: 4px dashed #b22;
	width: 50px;
	height: 50px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: #444;
	height: 60px;
	margin-top: 15px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}