.container-main .container-full .container-menu {
    width: 74px;
    height: 100%;
    /*border: 1px solid red;*/
    z-index: 100;
}

.container-main .container-full .container-menu .menu-container {
    width: 74px;
    height: 375px;
    /*border: 1px solid green;*/
    border-radius: 5px;
    background-color: var(--color-bg);
}

.container-main .container-full .container-menu .menu-container button img {
    width: 30px;
    height: 30px;
}
