.container-menu {
    width: 74px;
    height: 100%;
    z-index: 100;
}
.container-menu .spa {
    color: white;
}
.en {
    color: var(--color-font);
}
.es {
    color: var(--color-font);
}
/* .check {
    position: relative;
    width: 50px;
}
.check::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background: rgb(170, 169, 169);
    border-radius: 25px;
}
.check::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid var(--color-font-dark);
    box-sizing: border-box;
}
.check:checked::after {
    left: 25px;
    border: 2px sol #00a1ff;
}
.check:checked::before {
    background: var(--color-primary);
}  */

.flags {
    width: 74px;
    /* width: 200px; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0.5rem;
    background-color: var(--color-bg);
}
.flags_item {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.flags_img {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    /* border-radius: 50%; */
}
.menu-container {
    width: 74px;
    /* height: 375px; */
    height: 80%;
    border-radius: 5px;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu-container button {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-font);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    flex: 1;
    border-bottom: 1px solid var(--color-line);
}
.menu-container button:nth-child(6) {
    border-bottom: none;
}
.menu-btn{
    cursor: pointer;
    transition: all ease 0.15s;
}
.menu-btn:hover > .mhome {
    transform: scale(1.2);
    color: var(--color-primary);
}
.menu-btn:hover,
.menu-btn:focus {
    color: #aaa !important;

}
.menu-btn .mhome {
    transition: ease 0.3s all;
}
.menu-btn .mhome:hover {
    transform: scale(1.2);
    color: var(--color-primary);
} 

/*mediaqueri*/



@media screen and (max-width: 1024px) {
    .menu-container {
        height: 90%;
        margin-left: 30px;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.menu-container {
        margin-left: 0
    }
}

@media screen and (max-width: 768px) {
    .menu-container {
        position: initial;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .menu-container button {
        padding: 0 5px;
        flex: 1;
        height: 60%;
        border: none;
    }
}
