.container-menu {
    width: 74px;
    height: 100%;
    z-index: 100;
}
.container-menu .spa {
    color: white;
}
.en {
    color: var(--color-font);
}
.es {
    color: var(--color-font);
}

.flags {
    width: 74px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-line);
}
.flags_item {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.flags_img {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    /* border-radius: 50%; */
}
.menu-container {
    width: 74px;
    height: 80%;
    border-radius: 5px;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap ;
}

.menu-container button {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-font);
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    flex: 1;
    border-bottom: 1px solid var(--color-line);
}

.menu-btn{
    cursor: pointer;
    transition: all ease 0.5s
}

.menu-btn:hover,
.menu-btn:focus {
    color: #aaa !important;

}
.menu-btn .mhome {
    transition: ease 0.2s all;
}
.menu-btn:hover {
    border: 1px solid var(--color-primary);
    
} 

.menu-btn:hover > .mhome {
    transform: scale(1.2);
    color: var(--color-primary);
}

.btn-flotante {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mediaqueri*/

@media screen and (max-width: 1024px) {
    .menu-container {
        height: 90%;
        margin-left: 30px;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.menu-container {
        margin-left: 0
    }
}

@media screen and (max-width: 768px) {
    .menu-container {
        position: initial;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-container button {
        padding: 0 5px;
        flex: 1;
        height: 60%;
        border: none;
    }
    .flags {
        height: 80px;
        width: 50px;
        flex-direction: column;
        position: absolute;
        top: 130px;
        left: 0px;
        position: fixed;
        border-radius: 0 5px 5px 0;
        z-index: 10000;
        border: 1px solid var(--color-line);
        opacity: 0.8;
    }
}
