.container-information .content .inside-content .container_main{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.container-information .content .inside-content .container_main H2 {
    font-size: 2rem;
    color: #EEEEEE;
}

.container-information .content .inside-content .container_main .colorletter {
    color: rgb(206, 150, 31)
}

.container-information .content .inside-content .container_proyects {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
}

.container-information .content .inside-content .container_proyects .container-left {
    width: 50%;
}

.vertical { 
    width: 1px;
    border: 0;
    height: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

.container-information .content .inside-content .container_proyects .container-left .card {
    max-width: 230px;
    height: auto;
    /*border: 1px solid #fff;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.container-information .content .inside-content .container_proyects .container-left .card .img_card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

.container-information .content .inside-content .container_proyects .container-left .card .img_card img {
    width: 100%;
    transition: all .9s ease;
}

.container-information .content .inside-content .container_proyects .container-left .card .img_card img:hover {
    transform:scale(1.2)
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-information .content .inside-content .container_proyects .container-left .card h3 {
    width: 100%;
    padding: 10px 0;
    color: #EEEEEE;
    font-size: 1.3rem;
    font-weight: 100;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .codigo {
    width: 100%;
    padding: 5px 0;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .codigo a {
    color: #EEEEEE;
    font-size: 1.7em;
    font-weight: 100;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .link {
    width: 50%;
    padding: 5px 0;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .link a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 100
}















.container-information .content .inside-content .container_proyects .container_rigth {
    width: 50%;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .img_card {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .img_card img {
    width: 100%;
}


.container-information .content .inside-content .container_proyects .container_rigth .card .img_card img {
    width: 100%;
    transition: all .9s ease;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .img_card img:hover {
    transform:scale(1.2)
}

.container-information .content .inside-content .container_proyects .container_rigth .card .description_card  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .description_card h3 {
    width: 100%;
    font-size: 1.2rem;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 100;
    text-align: center;
    padding: 10px 0;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .description_card .codigo {
    width: 100%;
    padding: 5px 0;
}

.container-information .content .inside-content .container_proyects .container_rigth .card .description_card .codigo a {
    color: #EEEEEE;
    font-size: 1.7em;
    font-weight: 100;
}