.container-information .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.container-information .content .text_resumen {
    /*width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;*/

    width: 70%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-information .content .text_resumen h2 {
    /*font-size: 2rem;
    color: #EEEEEE;*/
    width: 100%;
    font-size: 2rem;
    color: #EEEEEE;
    text-align: left;
}

.linea_horizontal { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.container-information .content .text_resumen .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .container_education {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-information .content .container_education .icon_text {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.container-information .content .container_education .icon_text .fas {
    color: rgb(206, 150, 31);
}

.container-information .content .container_education .icon_text .text_ed {
    font-size: 17px;
    font-weight: 500;
    color: #EEEEEE;
    margin-left: 10PX;
}
.container-information .content .container_education .resumen_education .container_resumen {
    width: 30%;
    object-fit: cover;
    margin-top: 20px;
}

.container-information .content .container_education .resumen_education .container_resumen img {
    width: 100%;
}

.container-information .content .containerResumenAll {
    width: 100%;
    height: auto;
    /*margin: 0 auto;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-information .content .containerResumenAll .containerLeftResumen {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .date   {
    width:70%;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid rgb(206, 150, 31);
    color: var(--color-primary);
    padding: 2px;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .university {
    margin-top: 10px;
    font-size: 2rem;
    color: #EEEEEE;
    font-weight: 100;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .where {
    font-size: 1.5rem;
    color: #FFFFFF8C;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .description {
    font-size: 1.5rem;
    color: #FFFFFF8C;
    text-align: start;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .certificate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .certificate  p {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.5rem;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .certificate .certificado {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.5rem;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .certificate .fa-award {
    display: block;
    width: 40%;
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;

    transition: all .9s ease;
}

.container-information .content .containerResumenAll .containerLeftResumen .resumen_education .certificate .fa-award:hover {
    display: block;
    transition: all .9s ease;
    transform:scale(1.8);
    cursor: pointer;
}

.container-information .content .containerResumenAll .containerRightResumen {
    width: 45%;
    margin-left: 3%;
}

.container-information .content .containerResumenAll .containerRightResumen {
    width: 45%;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .date   {
    width:70%;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid rgb(206, 150, 31);
    color: var(--color-primary);
    padding: 2px;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .university {
    margin-top: 10px;
    font-size: 2rem;
    color: #EEEEEE;
    font-weight: 100;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .where {
    font-size: 1.5rem;
    color: #FFFFFF8C;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .description {
    font-size: 1.5rem;
    color: #FFFFFF8C;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .certificate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 30px;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .certificate  p {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.5rem;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .certificate .certificado {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.5rem;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .certificate .fa-award {
    display: block;
    width: 40%;
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;

    transition: all .9s ease;
}

.container-information .content .containerResumenAll .containerRightResumen .resumen_education .certificate .fa-award:hover {
    display: block;
    transition: all .9s ease;
    transform:scale(2.25);
    cursor: pointer;
}


.container-information .content .containerResumenAll .containerRightResumen {
    width: 46%;
    display: flex;
    flex-direction: column;
}