:root {
    --color-primary: #FBB03B;
    --color-secundary: #1A1A1A;
    --color-bg: #31313a;
    --bg-color: rgba(251, 177, 59, 0.205);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container-main {
    width: 100%;
    height: 100vh;
    border: 5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(30,30,35);*/

    background: #17171b !important;
    background: -webkit-linear-gradient(top left,#17171b 0%,#28282f 100%) !important;
    background: linear-gradient(to bottom right,#17171b 0%,#28282f 100%) !important;
}

.container-main .container-full {
    width: 95%;
    max-width: 1268px;
    height: 90vh;
    max-height: 674px;
    /*border: 3px solid #000;*/
    display: flex;
    align-items: center;
    overflow: hidden;
}


**********/* INFORMATION-SLIDER */**********


.container-full{
	display: flex;
	position: relative;
	width: 100vw !important;
	overflow-x: hidden;
}

.container-information {
    width: 100%;
    height: 95%;
    border-radius: 0 3px 3px 0;
    position: relative;
}

.content{
    width: 100%;
	display: inline-flex;
	/*min-width: calc(100vw - 240px);*/
	height: 100vh;
	position: absolute;
	transition: all 1s ease-out;
	/*flex-direction: column;
	justify-content: center;
	align-items: center;*/
}

.content.open{    
	left: 0 !important;
	opacity: 1;
	z-index: 3;
}
.content.closed{
	left: 100% !important;
	opacity: .3;
	z-index: 1;
}
#content-home{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	/*background-color: rgb(74, 187, 89);*/
    background-color: var(--color-bg);
    
}
#content-about{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	/*background-color: rgb(47, 141, 230);*/
    background-color: var(--color-bg);

    overflow-y: scroll
}

#content-resumen{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: var(--color-bg);
    overflow-y: scroll;
}
#content-portfolio{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: var(--color-bg);
}
#content-blog{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: rgb(28, 21, 39);
}
#content-contact{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: rgb(206, 150, 31);
}