/* Como te decia es mejor manejar las importaciones de los archivos css aqui */
@import "./aboutme.css";
@import "./blog.css";
@import "./contact.css";
@import "./header.css";
@import "./information.css";
@import "./mediaqueri.css";
@import "./menu.css";
@import "./portafolio.css";
@import "./resumen.css";

:root {
  --color-primary: #fbb03b;
  --color-secundary: #1a1a1a;
  --color-bg: #31313a;
  --bg-color: rgba(251, 177, 59, 0.205);

  --color-font: #eeeeee;
  --color-font-dark: #ffffff8c;
  --color-line: rgba(238, 238, 238, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* No entiendo el objetivo de setear asi el tamaño general de la fuente */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  height: auto;
  font-family: "Poppins", sans-serif;
}
.container-main {
  width: 100%;
  height: 100vh;

  /* Si ya estas usando variables para los colores NO LO CAMBIES, que tal si despues quieres cambiar estos colores o si quieres añadir un tema claro ? */
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #17171b !important;
  background: -webkit-linear-gradient(
    top left,
    #17171b 0%,
    #28282f 100%
  ) !important;
  background: linear-gradient(
    to bottom right,
    #17171b 0%,
    #28282f 100%
  ) !important;
}
.container-main .container-full {
  width: 95%;
  max-width: 1268px;
  height: 90vh;
  max-height: 674px;
  /*border: 3px solid #000;*/
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
/* INFORMATION-SLIDER */
.container-full {
  display: flex;
  position: relative;
  width: 100vw !important;
  overflow-x: hidden;
}
.container-information {
  width: 100%;
  height: 95%;
  position: relative;
}
.content {
  width: 100%;
  display: inline-flex;
  height: 100vh;
  position: absolute;
  transition: all 1s ease-out;
}
.content.open {
  left: 0 !important;
  opacity: 1;
  z-index: 3;
}
.content.closed {
  left: 100% !important;
  opacity: 0.3;
  z-index: 1;
}
#content-home {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
}
#content-about {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin-bottom: 2rem;
}
#content-about::-webkit-scrollbar {
  width: 5px;
}
#content-about::-webkit-scrollbar-thumb {
  background-color: var(--color-font-dark);
  border-radius: 5px;
}
#content-resumen {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin-bottom: 2rem;
}
#content-resumen::-webkit-scrollbar {
  width: 5px;
}
#content-resumen::-webkit-scrollbar-thumb {
  background-color: var(--color-font-dark);
  border-radius: 5px;
}
#content-portfolio {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin-bottom: 2rem;
}
#content-portfolio::-webkit-scrollbar {
  width: 5px;
}
#content-portfolio::-webkit-scrollbar-thumb {
  background-color: var(--color-font-dark);
  border-radius: 5px;
}
#content-blog {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin-bottom: 2rem;
}
#content-contact {
  width: 100%;
  height: 100%;
  /* background-color: rgb(206, 150, 31); */
  background-color: var(--color-bg);
  /* overflow-y: scroll; */
}
#content-contact::-webkit-scrollbar {
  width: 5px;
}
#content-contact::-webkit-scrollbar-thumb {
  background-color: var(--color-font-dark);
  border-radius: 5px;
}
#content-blog::-webkit-scrollbar {
  width: 5px;
}
#content-blog::-webkit-scrollbar-thumb {
  background-color: var(--color-font-dark);
  border-radius: 5px;
}
#container_title {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
}
#title {
  width: 100%;
  font-size: 2rem;
  color: var(--color-font);
  text-align: left;
}
.colorletter {
  color: var(--color-primary);
}
