:root {
    --color-primary: #FBB03B;
    --color-secundary: #1A1A1A;
    --color-bg: #31313a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container-main {
    width: 100%;
    height: 100vh;
    border: 5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(30,30,35);*/

    background: #17171b !important;
    background: -webkit-linear-gradient(top left,#17171b 0%,#28282f 100%) !important;
    background: linear-gradient(to bottom right,#17171b 0%,#28282f 100%) !important;
}

.container-main .container-full {
    width: 95%;
    max-width: 1268px;
    height: 90vh;
    max-height: 674px;
    /*border: 3px solid #000;*/
    display: flex;
    align-items: center;
    overflow: hidden;
}

**********/* MENU */**********
.container-main .container-full .container-menu {
    width: 74px;
    height: 100%;
    /*border: 1px solid red;*/
    z-index: 100;
}

.container-main .container-full .container-menu .menu-container {
    width: 74px;
    height: 375px;
    /*border: 1px solid green;*/
    border-radius: 5px;
    background-color: var(--color-bg);
}

.container-main .container-full .container-menu .menu-container button img {
    width: 30px;
    height: 30px;
}

**********/* HEADER */**********

.container-header {
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 674px;
    /*border: 1px solid fuchsia;*/
    border-radius: 3px;
    margin-left: 8px;

    position: relative;
    top: 0;
    left: 0;
    /*-webkit-box-shadow: -18px -15px 5px 0px rgb(37,37,42);
    -moz-box-shadow: -18px -15px 5px 0px rgb(37,37,42);
    box-shadow: -18px -15px 5px 0px rgb(37,37,42);
    background-color: rgb(26, 26, 26, 0.75);*/
}

/*.container-header::before {
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(-45deg,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
    background: -webkit-linear-gradient(-45deg ,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
    background: linear-gradient(135deg ,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}*/


.container-header .bg-img {
    width: 100%;
    height: 50%;
    /*border: 1px solid black;*/
    /*position: relative;*/
    /*background-color: #1A1A1A;*/
}

/*.container-header .bg-img::after {
    content: " ";
    display: block;
    position: absolute;
    width: 101%;
    height: 20%;
    bottom: -20%;
    left: 0;
    background-color: #1A1A1A;
    z-index: 0;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
}*/

.container-header .bg-img .picture-bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-header .bg-img .picture-bg img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

.container-header .pictureMe {
    width: 100%;
    height: 50%;
    text-align: center;
    /*background-color: var(--color-primary);*/
    background-color: var(--color-bg);
    /*background-color: #000;*/
}


.container-header .pictureMe .me {
    height: 80%;
    display: block;
    position: relative;
}

.container-header .pictureMe .me::after{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 95%;
    left: 0;
    background-color:var(--color-bg);
    z-index: 0;
    /*clip-path: polygon(50% 100%, 100% 0, 100% 100%);
    clip-path: polygon(50% 100%, 0 0, 0 100%);*/
    clip-path: polygon(50% 80%, 100% 0, 100% 80%, 50% 80%, 0 80%, 0 0);
}

.container-header .pictureMe .me .name-me {
    width: 100%;
    height: auto;
    font-size: 28px;
    color:  #EEEEEE;
    line-height: 32px;
    font-weight: 400;
    margin-top: 20px;
}

.container-header .pictureMe .me .ocupation {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: var(--color-primary);
    margin-top: 20px;
    font-weight: 100;
}

.container-header .pictureMe .me .social-media {
    width: 100%;
    height: auto; 
    display: inline-block;
    padding-top: 20px;
}

.container-header .pictureMe .me .social-media img {
    width: 5%;
    height: 5%;
    margin-left: 15px;
    border: none;
    color: #EEEEEE;
}

.container-header .pictureMe .me img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    margin-top: -60px;
    position: relative;
    z-index: 100;

    /*-webkit-box-shadow: -10px 10px 5px 0px  rgba(251, 177, 59, 0.5);
    -moz-box-shadow:  -10px 10px 5px 0px  rgba(251, 177, 59, 0.404);
    box-shadow: -10px 10px 5px 0px rgba(251, 177, 59, 0.377);*/
    
}

.container-header .pictureMe  .footer-header {
    width: 100%;
    height: 20%;
    /*background-color: var(--color-primary);*/
    background-color: var(--color-bg);
    border-top: .5px solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .pictureMe  .footer-header .download {
    border-right: .5px solid #EEEEEE;
}

.container-header .pictureMe  .footer-header .download, .contact-me {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .pictureMe  .footer-header .download .cvdownload h3 {
    font-size: 14px;
    color: #EEEEEE;
}

.container-header .pictureMe  .footer-header .download .cvdownload h3 span img {
    display: inline;
    width: 10%;
    
}

.container-header .pictureMe  .footer-header .contact-me .contactme h3 {
    font-size: 14px;
    color: #EEEEEE;
}

.container-header .pictureMe  .footer-header .contactme span img {
    display: inline-block;
    width: 10%;
    object-fit: cover;
    
}

**********/* INFORMATION */**********

.container-information {
    width: 100%;
    /*min-width: 645px;*/
    /*max-width: 705px;*/
    /*height: 535px;*/
    height: 95%;
    /*min-height: 535px;
    max-height: 645px;*/
    background-color: var(--color-bg);
    /*background-color: #000;*/
    border-radius: 0 3px 3px 0;
    position: relative;
    overflow: hidden;
}

.container-information picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}


.container-information picture .logo {
    display: block;
    width: 60%;
    
}


**********/* INFORMATION-SLIDER */**********


.container-full{
	display: flex;
	position: relative;
	width: 100vw !important;
	overflow-x: hidden;
}

.container-information {
    width: 100%;
    height: 95%;
    border-radius: 0 3px 3px 0;
    position: relative;
}

.content{
    width: 100%;
	display: inline-flex;
	/*min-width: calc(100vw - 240px);*/
	height: 100vh;
	position: absolute;
	transition: all 1s ease-out;
	/*flex-direction: column;
	justify-content: center;
	align-items: center;*/
}
.content.open{    
	left: 0 !important;
	opacity: 1;
	z-index: 3;
}
.content.closed{
	left: 100% !important;
	opacity: .3;
	z-index: 1;
}
#content-home{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	/*background-color: rgb(74, 187, 89);*/
    background-color: var(--color-bg);
    
}
#content-about{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	/*background-color: rgb(47, 141, 230);*/
    background-color: var(--color-bg);

    overflow-y: scroll
}

#content-resumen{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: var(--color-bg);
    overflow-y: scroll;
}
#content-portfolio{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: var(--color-bg);
}
#content-blog{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: rgb(28, 21, 39);
}
#content-contact{
    width: 100%;
    /*max-width: 643px;*/
    height: 100%;
	background-color: rgb(206, 150, 31);
}
.inside-content{
    width: 100%;
    height: 100%;
	/*margin: 6rem;*/
	text-align: center;
}

.inside-content .about-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-content .about-title .aboutme {
    width: 100%;
    font-size: 2rem;
    color: #EEEEEE;
    padding-left: 30px;
    text-align: left;
}

.inside-content .about-title .aboutme .colorletter {
    color: rgb(206, 150, 31);
}

.inside-content .text-about {
    width: 90%;
    height: auto;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #FFFFFF8C;
    padding-left: 30px;
    text-align: justify;
    font-size: 1.3rem;
}

.inside-content .text-about .diego, .gutierrez {
    color: var(--color-primary);
}

.inside-content .text-about .pregunta {
    color: var(--color-primary);
}

.inside-content .text-about .text-pregunta {
    width: 100%;
    font-size: 2rem;
    color: rgb(238, 238, 238);
    text-align: left;
}

.inside-content .box-information {
    width: 90%;
    height: 120px;
    display: flex;
    padding-top: 10px;
    font-size: 1.4rem;
    color: #FFFFFF8C;
    padding-left: 30px;
    text-align: initial;
}

.inside-content .box-information .information-aboutme-left {
    width: 50%;
}

.inside-content .box-information .information-aboutme-right {
    width: 50%;
}

.box-information .color-inf {
    color: #FFFFFFD9;
}

.inside-content .box-lema {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* about me */


.container-information .content .inside-content .box-github {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
}

.container-information .content .inside-content .box-github .lematitleMain {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

    font-size: 2rem;
    color: #EEEEEE;
    padding-left: 30px;
}

.container-information .content .inside-content .box-github .lematitleMain .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .box-lema .lema-title .lematitleMain {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
    padding-left: 30px;
    margin-top: 30px;
}

.container-information .content .inside-content .box-lema .lema-title .lematitleMain .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .box-lema .lema-title h3 {
    width: 90%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #FFFFFF8C;
    padding-left: 30px;
    text-align: center
}

.container-information .content .inside-content .box-lema .lema-title img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    margin-bottom: 10px;
}

.container-information .content .inside-content .followers .follower-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #EEEEEE;
    padding-left: 30px;
    margin-top: 30px;
}

.container-information .content .inside-content .followers .follower-title .followerstitleMain {
    color: rgb(206, 150, 31);
}

.container-information .content .inside-content .followers .follower-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 140px));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    align-items: center;
}

.container-information .content .inside-content .followers .followers1, .followers2, .followers3, .followers4 {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}


/* resumen */

.container-information .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.container-information .content .text_resumen {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.container-information .content .text_resumen h2 {
    font-size: 2rem;
    color: #EEEEEE;
}

.container-information .content .text_resumen .colorletter {
    color: rgb(206, 150, 31);
}

.container-information .content .container_education {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.container-information .content .container_education .icon_text {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 28px;
    
}

.container-information .content .container_education .icon_text .fas {
    color: rgb(206, 150, 31);
}

.container-information .content .container_education .icon_text .text_ed {
    font-size: 17px;
    font-weight: 500;
    color: #EEEEEE;
    margin-left: 10PX;
}

.container-information .content .container_education .resumen_education {
    width: 45%;
    height: auto;
    margin-left: 30px;
}

.container-information .content .container_education .resumen_education .date {
    width:25%;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid rgb(206, 150, 31);
}

/* portafolio */

.container-information .content .inside-content .container_main{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}

.container-information .content .inside-content .container_main H2 {
    font-size: 2rem;
    color: #EEEEEE;
}

.container-information .content .inside-content .container_main .colorletter {
    color: rgb(206, 150, 31)
}

.container-information .content .inside-content .container_proyects {
    width: 100%;
    height: 100%;

    display: flex;
}

.container-information .content .inside-content .container_proyects .container-left {
    width: 50%;
}

.container-information .content .inside-content .container_proyects .container-left .card {
    max-width: 230px;
    height: auto;
    /*border: 1px solid #fff;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.container-information .content .inside-content .container_proyects .container-left .card .img_card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-information .content .inside-content .container_proyects .container-left .card .img_card img {
    width: 100%;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-information .content .inside-content .container_proyects .container-left .card h3 {
    width: 100%;
    padding: 10px 0;
    color: #EEEEEE;
    font-size: 1.3rem;
    font-weight: 400;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .codigo {
    width: 50%;
    padding: 5px 0;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .codigo a {
    color: #EEEEEE;
    font-size: 1.8rem;
    font-weight: 100;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .link {
    width: 50%;
    padding: 5px 0;
}

.container-information .content .inside-content .container_proyects .container-left .card .description_card .link a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 100

}















.container-information .content .inside-content .container_main  .container_proyects .container-rigth {
    width: 50%;
}